@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f7f8fc;
}

#card-scrollbar::-webkit-scrollbar {
    display: none;
}

#card-scrollbar::-webkit-scrollbar-track {
    width: 10px;
    background-color: transparent;
}

#card-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
}